@define-color base00 #000000;
@define-color base01 #2d2d2d;
@define-color base02 #86e0ff;
@define-color base03 #7f008a;
@define-color base04 #cf6eff;
@define-color base05 #6536e8;


* {
  transition: none;
  box-shadow: none;
}

#waybar {
  font-family: 'RobotoMonoNerdFontPropo', 'sans-serif';
  font-size: 0.75rem;
  font-weight: 400;
  color: @base02;
  background: @base00;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 4px;
  color: @base023;
}

#workspaces button.visible {
  border-radius: 4px;
  background-color: @base00;
}

#workspaces button.active {
  border-radius: 4px;
  color: @base03;
  background-color: @base02;
}

#workspaces button.urgent {
  color: @base02;
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: @base00;
}

#tray * {
  padding: 0 6px;
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #backlight, #clock, #temperature {
  margin: 4px 2px;
  padding: 0 6px;
  color: @base02;
  background-color: @base00;
  border-radius: 4px;
  min-width: 20px;
}

#pulseaudio.muted {
  color: @base03;
}

#pulseaudio.bluetooth {
  color: @base04;
}

#clock {
  margin-left: 0px;
  margin-right: 4px;
  background-color: transparent;
}

#temperature.critical {
  color: @base05;
}

#window {
  font-size: 0.9em;
  font-weight: 400;
  font-family: 'RobotoMonoNerdFontPropo';
}
